<div style="margin-top: 50px;text-align: center;">
<button type="button" mat-raised-button color="accent" routerLink="/productlist">Go to Product List Page</button><br>
<button style="margin-top: 20px;" type="button" mat-raised-button color="accent" routerLink="/listByCategory">Get Product List By Category</button><br>
<button style="margin-top: 20px;" type="button" mat-raised-button color="accent" routerLink="/getById">Get a Product By Id</button><br>
<button style="margin-top: 20px;" type="button" mat-raised-button color="accent" routerLink="/addProduct">Add a Product</button>
</div>
