<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="main-card">
          <div class="container text-center">
            <img class="img-fluid" style="width: 100px;" src="/assets/login.png" alt="Login">
            <h1 class="header-text">Login</h1>
          </div>
          <form (ngSubmit)="onSubmit()">

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="credentials.username" name="username" type="text" matInput/>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input [(ngModel)]="credentials.password" name="password" [type]="hide ? 'password' : 'text'" matInput/>
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">Login</button>
              <button type="reset" mat-raised-button style="margin-left: 20px;">Reset</button>
            </div>

          </form>
        </mat-card>
      </div>
    </div>
    <img *ngIf="loading" class="img-fluid loading-image" src="/assets/loading.gif" alt="Loading">
  </div>
</div>
